.panel{

  font-family: 'Source Sans Pro';
  font-size:130%;
  position: absolute;
  z-index:10;
  top:50%;
  left:20%;

  text-align: center;
background-color:transparent;


  z-index:100;
}
strong{
	color: black;
}

@media (max-width : 720px) {
	.panel{

	  font-family: 'Source Sans Pro';
	  font-size:40%;
	  position: absolute;
	  z-index:10;
	  top:15%;
	  left:10%;

	  text-align: center;
	background-color:transparent;


	  z-index:100;
	}
}
